name : Demo Virtual Machine
on:
  push:
    branches: [main]
    
jobs:
  builds:
    name: Virtual Machine
    runs-on: Ubuntu-latest
    steps:
    - name: checkout my codes
      uses: actions/checkout@v2
    - name: print and list out content
      run: |
        ls
        echo Hello There!
    - name: Get remote hidden repo
      uses: actions/checkout@v2
      with: 
        repository: lowkh2/GoTrackRemoteExample
        path: remote
        token: ${{ secrets.GOTRACK }}
        
    - name: show hidden file
      run: |
        cd remote
        ls
        cat mySecret.txt
    - name: Setup Go environment
      uses: actions/setup-go@v3.5.0
      with:
        # The Go version to download (if necessary) and use. Supports semver spec and ranges.
        go-version: 1.19.3 
    - name: Go installed
      run: |
        go version
        go test -v
